<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>店舗一覧</title>
</head>
<body>
<h1>店舗一覧</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>店名</th>
        <th>カテゴリ</th>
        <th>住所</th>
        <th>説明</th>
    </tr>
    <tr th:each="shop : ${shops}">
        <td th:text="${shop.id}"></td>
        <td th:text="${shop.name}"></td>
        <td th:text="${shop.category}"></td>
        <td th:text="${shop.address}"></td>
        <td th:text="${shop.description}"></td>
    </tr>
</table>

</body>
</html>
